<div id="index">
  {% for item in items %}
    <div class="item">
      <a href="{{ item.url }}">
        <div class="image">
          <img src="{{ item.principal_image.eal_index }}" />
        </div>
        <h2>{{ item.title }}</a></h2>
      </a>
    </div>
  {% endfor %}
</div>
<div class="clear"></div>


<script src="{{ "jquery.js" | asset_url }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "jquery.masonry.js" | asset_url }}" type="text/javascript" charset="utf-8"></script>

<script>
  var $container = $('#index');

  $container.imagesLoaded( function(){
    $container.masonry({
      itemSelector : '.item'
    });
  });
</script>
